
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.Python
env/
build/
develop-eggs/
dist/
downloads/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.vscode
# Spyder project settings
.spyderproject
.spyproject

# mypy
.mypy_cache/

debug.log

# Django stuff:
*.log
local_settings.py


# Jupyter Notebook
.ipynb_checkpoints

db.sqlite3

.vscode


