@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap");

:root {
  font-size: 16px;
  font-family: "Montserrat";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: white;
  font-family: "Montserrat";
  font-weight: 400;
  background-color: #061202;
  margin: 0;
  padding: 0;
  padding-top: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(72, 255, 0);
}

/* Body Styling done */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(72, 255, 0);
  transition: color 300ms ease;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  a {
    color: white;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  a {
    color: white;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  a {
    color: white;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  body {
    background-color: #06001a;
    color: white;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  body {
    background-color: #141414;
    color: white;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  body {
    background-color: #141414;
    color: white;
    font-size: 14px;
  }
}

/* Navbar */

.xcontainer {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
  background-color: #2b810e;
  font-weight: 800;
  position: fixed;
  text-align: left;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .xcontainer {
    width: 8rem;
    background-color: rgb(9, 20, 82);
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .xcontainer {
    width: 8rem;
    background-color: #0a0a0a;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .xcontainer {
    width: 6rem;
    background-color: #0a0a0a;
    font-size: 6px;
    font-weight: 400;
  }

  .logo {
    size: 14px;
  }
}

.logo {
  padding: 24px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  display: -ms-grid;
  display: flex;
  font-family: "Montserrat";
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .logo {
    color: white;
    font-size: 14px;
  }
}

.links {
  padding: 20px;
  text-align: left;
  letter-spacing: 1.7px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.5rem;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .links {
    color: white;
    font-size: 8px;
  }
}

/* Right here*/

main {
  margin-left: 10rem;
  padding: 2rem;
  display: block;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  main {
    margin-left: 6rem;
    font-size: 14px;
  }
}
div {
  display: block;
}

.content-section {
  margin-left: 12rem;
  padding: 30px 30px;
}

.article-title {
  color: white;
  display: block;
  font-family: "Poppins";
  font-weight: 600;
}

a.article-title:hover {
  color: rgb(72, 255, 0);
  text-decoration: none;
}

.article-content {
  font-family: "Open Sans";
  font-weight: 200;
  padding-right: 10px;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .article-content {
    line-height: 0.8rem;
  }
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  margin-left: 14px;
  margin-top: 14px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-bottom: 1px solid #7272725d;
}

.article-metadata a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: left;
}

.account-img {
  height: 192px;
  width: 192px;
  display: relative;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  margin-left: 20rem;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .account-img {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 84px;
    width: 84px;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .article-img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 8px;
  }
}

.account-heading {
  font-size: 2.5rem;
}

.readnow {
  text-decoration: none;
  color: rgb(72, 255, 0);
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .article-title {
    color: white;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .article-title {
    color: white;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .article-title {
    color: white;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .content-section {
    color: white;
    font-size: 8px;
    margin-left: 6rem;
    padding: 30px 30px;
  }
}

/*hero*/

.hero .heading {
  font-size: 18px;
  letter-spacing: 2.5px;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .hero .heading {
    font-size: 10px;
    letter-spacing: 1.5px;
  }
}
.hero .herotitle {
  font-size: 52px;
  font-weight: 600;
  font-family: Poppins;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  .hero .herotitle {
    font-size: 24px;
    font-weight: 600;
  }
}

.heroimg {
  width: 100%;
  max-width: 969px;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
}

/* @media screen and (max-width: 1200px) and (min-width: 768px) {
  .heroimg {
    width: 90%;
    max-width: 969px;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .heroimg {
    width: 70%;
    max-width: 969px;
    height: 100vh;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .heroimg {
    width: 50%;
    max-width: 969px;
    height: 100vh;
  }
} */

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.works {
  width: 100%;
  max-width: 1652px;
}

.heading1 {
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 600;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .heading1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  #works {
  }
}

.postimage {
  width: 95%;

  align-content: center;
  justify-content: center;
  border: none;

  border-radius: 20px;
}

#coverimg {
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50%;
}

.custom-btn {
  background-color: yellow;
}
/* button */

.greenbtn {
  --btn-color: #00aa0e;
}


.like {
  --btn-color: #d66000;
}

.unlike {
  --btn-color: #d49c99;
}

.comment {
  --btn-color: #db9e06;
}
.share {
  --btn-color: #283fa4;
}

.btn-share {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 18px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .btn-share {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 8px;
    justify-content: center;
    align-items: center;
  }
}

.btn-share::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .btn-icon {
    height: 8px;
    width: 8px;
  }

  .social-icons {
    height: 8px;
    width: 8px;
  }
}
.btn-share .btn-text,
.btn-share .btn-icon {
  justify-content: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-share .btn-text {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.btn-share .btn-icon {
  margin-left: 8px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.btn-share .social-icons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-share .social-icons li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.btn-share .social-icons li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-transform: translateY(55px);
  transform: translateY(55px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-share .social-icons li a:hover {
  opacity: 0.5;
}

.btn-share:hover::before {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.btn-share:hover .btn-text,
.btn-share:hover .btn-icon {
  -webkit-transform: translateY(-55px);
  transform: translateY(-55px);
}

.btn-share:hover .social-icons li a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.btn-share:hover .social-icons li:nth-child(1) a {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.btn-share:hover .social-icons li:nth-child(2) a {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.btn-share:hover .social-icons li:nth-child(3) a {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
/*# sourceMappingURL=btn.css.map */

.post-title {
  color: rgb(211, 179, 0);
  font-family: "Montserrat";
  font-weight: 600;
}

p {
  font-size: 16px;
  text-align: left;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) and (min-width: 100px) {
  p {
    font-size: 8px;
  }
}

.size {
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 12px 24px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 480px) and (min-width: 100px) {
  .size {
    font-size: 12px;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

cardshape {
  margin-left: 20rem;
  margin-right: 8rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #00181d;
  border-radius: 20px;
}

.mail{
  font-size: 10px;
  font-style: italic;
}