body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(15vw, 38vh, 23px);
            transform: translate3d(15vw, 38vh, 23px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(15vw, 38vh, 23px);
            transform: translate3d(15vw, 38vh, 23px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.18;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(22vw, 27vh, 68px);
          transform: translate3d(22vw, 27vh, 68px);
  background: #269dd9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(37vw, 46vh, 60px);
            transform: translate3d(37vw, 46vh, 60px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(37vw, 46vh, 60px);
            transform: translate3d(37vw, 46vh, 60px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.32;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(21vw, 32vh, 68px);
          transform: translate3d(21vw, 32vh, 68px);
  background: #8e26d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 89vh, 81px);
            transform: translate3d(90vw, 89vh, 81px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 89vh, 81px);
            transform: translate3d(90vw, 89vh, 81px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.91;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(78vw, 41vh, 90px);
          transform: translate3d(78vw, 41vh, 90px);
  background: #26b5d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(78vw, 77vh, 18px);
            transform: translate3d(78vw, 77vh, 18px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(78vw, 77vh, 18px);
            transform: translate3d(78vw, 77vh, 18px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.31;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(31vw, 74vh, 85px);
          transform: translate3d(31vw, 74vh, 85px);
  background: #d92c26;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(63vw, 77vh, 12px);
            transform: translate3d(63vw, 77vh, 12px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(63vw, 77vh, 12px);
            transform: translate3d(63vw, 77vh, 12px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.87;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(24vw, 30vh, 98px);
          transform: translate3d(24vw, 30vh, 98px);
  background: #8e26d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(56vw, 13vh, 50px);
            transform: translate3d(56vw, 13vh, 50px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(56vw, 13vh, 50px);
            transform: translate3d(56vw, 13vh, 50px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.6;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(78vw, 88vh, 4px);
          transform: translate3d(78vw, 88vh, 4px);
  background: #d99426;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(9vw, 30vh, 32px);
            transform: translate3d(9vw, 30vh, 32px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(9vw, 30vh, 32px);
            transform: translate3d(9vw, 30vh, 32px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.6;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(26vw, 59vh, 69px);
          transform: translate3d(26vw, 59vh, 69px);
  background: #8526d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(82vw, 16vh, 92px);
            transform: translate3d(82vw, 16vh, 92px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(82vw, 16vh, 92px);
            transform: translate3d(82vw, 16vh, 92px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.65;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(37vw, 53vh, 2px);
          transform: translate3d(37vw, 53vh, 2px);
  background: #26d98b;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(30vw, 12vh, 22px);
            transform: translate3d(30vw, 12vh, 22px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(30vw, 12vh, 22px);
            transform: translate3d(30vw, 12vh, 22px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.77;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(76vw, 14vh, 42px);
          transform: translate3d(76vw, 14vh, 42px);
  background: #8826d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(36vw, 26vh, 62px);
            transform: translate3d(36vw, 26vh, 62px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(36vw, 26vh, 62px);
            transform: translate3d(36vw, 26vh, 62px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.84;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(21vw, 66vh, 50px);
          transform: translate3d(21vw, 66vh, 50px);
  background: #d9262f;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(17vw, 80vh, 36px);
            transform: translate3d(17vw, 80vh, 36px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(17vw, 80vh, 36px);
            transform: translate3d(17vw, 80vh, 36px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.81;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(8vw, 31vh, 34px);
          transform: translate3d(8vw, 31vh, 34px);
  background: #4ad926;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(77vw, 37vh, 71px);
            transform: translate3d(77vw, 37vh, 71px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(77vw, 37vh, 71px);
            transform: translate3d(77vw, 37vh, 71px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.26;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(16vw, 49vh, 22px);
          transform: translate3d(16vw, 49vh, 22px);
  background: #be26d9;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(40vw, 44vh, 83px);
            transform: translate3d(40vw, 44vh, 83px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(40vw, 44vh, 83px);
            transform: translate3d(40vw, 44vh, 83px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.15;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(16vw, 65vh, 71px);
          transform: translate3d(16vw, 65vh, 71px);
  background: #2656d9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(14vw, 25vh, 51px);
            transform: translate3d(14vw, 25vh, 51px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(14vw, 25vh, 51px);
            transform: translate3d(14vw, 25vh, 51px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.92;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(62vw, 36vh, 12px);
          transform: translate3d(62vw, 36vh, 12px);
  background: #263bd9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(5vw, 59vh, 74px);
            transform: translate3d(5vw, 59vh, 74px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(5vw, 59vh, 74px);
            transform: translate3d(5vw, 59vh, 74px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.54;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(89vw, 55vh, 21px);
          transform: translate3d(89vw, 55vh, 21px);
  background: #50d926;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(88vw, 36vh, 73px);
            transform: translate3d(88vw, 36vh, 73px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(88vw, 36vh, 73px);
            transform: translate3d(88vw, 36vh, 73px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.56;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(11vw, 70vh, 46px);
          transform: translate3d(11vw, 70vh, 46px);
  background: #26d9a0;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(54vw, 32vh, 70px);
            transform: translate3d(54vw, 32vh, 70px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(54vw, 32vh, 70px);
            transform: translate3d(54vw, 32vh, 70px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.33;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(86vw, 79vh, 44px);
          transform: translate3d(86vw, 79vh, 44px);
  background: #5c26d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(65vw, 74vh, 26px);
            transform: translate3d(65vw, 74vh, 26px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(65vw, 74vh, 26px);
            transform: translate3d(65vw, 74vh, 26px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.92;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(50vw, 62vh, 91px);
          transform: translate3d(50vw, 62vh, 91px);
  background: #26d959;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(87vw, 46vh, 45px);
            transform: translate3d(87vw, 46vh, 45px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(87vw, 46vh, 45px);
            transform: translate3d(87vw, 46vh, 45px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.6;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(28vw, 86vh, 38px);
          transform: translate3d(28vw, 86vh, 38px);
  background: #88d926;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(34vw, 67vh, 2px);
            transform: translate3d(34vw, 67vh, 2px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(34vw, 67vh, 2px);
            transform: translate3d(34vw, 67vh, 2px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.52;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(15vw, 85vh, 48px);
          transform: translate3d(15vw, 85vh, 48px);
  background: #6ed926;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(73vw, 56vh, 88px);
            transform: translate3d(73vw, 56vh, 88px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(73vw, 56vh, 88px);
            transform: translate3d(73vw, 56vh, 88px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.39;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(73vw, 83vh, 57px);
          transform: translate3d(73vw, 83vh, 57px);
  background: #d95026;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(24vw, 57vh, 11px);
            transform: translate3d(24vw, 57vh, 11px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(24vw, 57vh, 11px);
            transform: translate3d(24vw, 57vh, 11px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.24;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(69vw, 26vh, 63px);
          transform: translate3d(69vw, 26vh, 63px);
  background: #d926d6;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(62vw, 51vh, 78px);
            transform: translate3d(62vw, 51vh, 78px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(62vw, 51vh, 78px);
            transform: translate3d(62vw, 51vh, 78px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.27;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(45vw, 42vh, 21px);
          transform: translate3d(45vw, 42vh, 21px);
  background: #26d9d3;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(1vw, 89vh, 53px);
            transform: translate3d(1vw, 89vh, 53px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(1vw, 89vh, 53px);
            transform: translate3d(1vw, 89vh, 53px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.47;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(75vw, 25vh, 98px);
          transform: translate3d(75vw, 25vh, 98px);
  background: #d9cd26;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(72vw, 39vh, 72px);
            transform: translate3d(72vw, 39vh, 72px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(72vw, 39vh, 72px);
            transform: translate3d(72vw, 39vh, 72px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.17;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(77vw, 41vh, 37px);
          transform: translate3d(77vw, 41vh, 37px);
  background: #bb26d9;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(36vw, 32vh, 35px);
            transform: translate3d(36vw, 32vh, 35px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(36vw, 32vh, 35px);
            transform: translate3d(36vw, 32vh, 35px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.04;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(33vw, 73vh, 2px);
          transform: translate3d(33vw, 73vh, 2px);
  background: #5326d9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(82vw, 64vh, 16px);
            transform: translate3d(82vw, 64vh, 16px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(82vw, 64vh, 16px);
            transform: translate3d(82vw, 64vh, 16px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.86;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(89vw, 37vh, 66px);
          transform: translate3d(89vw, 37vh, 66px);
  background: #d9d626;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(40vw, 57vh, 24px);
            transform: translate3d(40vw, 57vh, 24px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(40vw, 57vh, 24px);
            transform: translate3d(40vw, 57vh, 24px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 1;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(27vw, 79vh, 65px);
          transform: translate3d(27vw, 79vh, 65px);
  background: #7726d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(71vw, 32vh, 1px);
            transform: translate3d(71vw, 32vh, 1px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(71vw, 32vh, 1px);
            transform: translate3d(71vw, 32vh, 1px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.17;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(57vw, 49vh, 32px);
          transform: translate3d(57vw, 49vh, 32px);
  background: #d96b26;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(60vw, 85vh, 16px);
            transform: translate3d(60vw, 85vh, 16px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(60vw, 85vh, 16px);
            transform: translate3d(60vw, 85vh, 16px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.49;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(22vw, 89vh, 30px);
          transform: translate3d(22vw, 89vh, 30px);
  background: #26d99d;
}
/*# sourceMappingURL=particles.css.map */