{% extends "Blog/base.html" %} {% load crispy_forms_tags %} {% block content %}

<img id="coverimg" src="{{ user.profile.cover_img.url }}" />
<!-- <img class="account-img" src="{{ user.profile.image.url }}" /> -->

<article>
  <div class="container">
    <div class="media-body">
      <h2 class="heading1">{{ user.username }}</h2>
      <hr />
      <h6>{{ user.email }}</h6>
      <h6>{{ user.profile.dob }}</h6>
      <h6>{{ user.profile.bio }}</h6>
      <h6>{{ user.posts.author }}</h6>
    </div>
  </div>
</article>

{% endblock content %}
